/* the styles for the elements */
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}

/* the styles for the header */
header img {
	float: left;
}

/* the styles for the section */
main {
	clear: left;
}

header h2{
	font-size:170%;
	color:#800000;
	text-indent: 30px;
}

header h3{
	font-size:130%;
	text-indent: 30px;
	font-style:italic;
}

section h1{
	font-size:150%;
}

section h2{
	font-size:130%;
	color:#800000;
}

section h3{
	font-size:105%;
}

section a:hover{
	font-style:italic;
}

footer p{
	text-align:center;
}

.shadow{
	text-shadow: 2px 2px #800000;
}
/* the styles for the footer */
